# Database Configuration
DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"

# Application
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=seu-secret-super-seguro-aqui
JWT_EXPIRATION=1d
